/*
Theme Name: practise
Author: pkmed
Version: 1.0
*/

body {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
}

a {
    color: #006ec3;
}

p {
    line-height: 1.65em;
}

/* General layout */
div.content-wrapper{
    display: flex;
    flex-direction: row;
}

div.container {
    max-width: 1020px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}

div.content{
    padding: 0 20px 0 0;
    flex-basis: 70%;
}

div.widget-area{
    flex-basis: 30%;
    padding: 0 0 0 20px;
}

article.post {
    border-bottom: 2px dotted #bbb;
    padding-bottom: 10px;
}

article.post:last-of-type {
    border-bottom: none;
}

/* Aside styles*/
article.post-aside,
article.post-link {
    font-size: 125%;
    background-color: #FFF5Cb;
    padding: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
    margin: 10px 0;
}

.mini-meta{
    font-size: 68%;
    margin:0;
    color: #888
}

/* link post format styles */
article.post-link {
    padding: 0;
    background-color: #E0EBFF;
}

article.post-link a {
    display: block;
    padding: 20px;
}

/* post format gallery styles*/
article.post-gallery{
    background-color: #222;
    color: #fff;
    padding: 20px;
}

article.post-gallery figcaption{
    padding-left: 0!important;
    padding-right: 0!important;
}

article.post-gallery h2{
    text-align: center;
}

/* Header */
.site-header {
    border-bottom: 2px solid #999;
}

/* footer */
.site-footer {
    margin-top: 30px;
    border-top: 2px solid #999;
}

.site-footer .nav-and-search{
    padding: 5px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* Nav menus*/
.site-nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.site-nav ul li {
    list-style: none;
}

/* Site header menu*/
.site-header nav ul li {
    margin-right: 5px;
}

.site-header nav ul li a:hover {
    background: #ECECEC;
}

.site-header nav ul li a:link,
.site-header nav ul li a:visited {
    display: block;
    padding: 10px 18px;
    border: 1px solid #BBB;
    text-decoration: none;
}

.site-header nav ul li.current-menu-item a:link,
.site-header nav ul li.current-menu-item a:visited,
.site-header nav ul li.current-page-ancestor a:link,
.site-header nav ul li.current-page-ancestor a:visited {
    background-color: #006ec3;
    color: #FFF;
    font-weight: bold;
}

/* Footer menu */
.site-footer nav ul li {
    margin-right: 5px;
    padding-right: 10px;
    border-right: 1px dotted #BBB;
}

/* footer widget */
.footer-widget{
    height: 25px;
}

.footer-widget #s{
    height:25px;
}

/* page layout */
article.page h2 {
    font-size: 300%;
}

/* two column title layout */
div.clearfix {
    display: flex;
    flex-direction: row;
}

.clearfix .title-column {
    flex-basis: 30%;
}

.clearfix .text-column {
    flex-basis: 70%;
}

/* info box styles */
div.info-box {
    width: 30%;
    float: right;
    margin: 0 0 30px 30px;
    padding: 20px;
    background-color: #EEE;
}

div.info-box h4 {
    margin-bottom: 6px;
}

div.info-box p {
    font-size: 85%;
}

/* Children links */
.children-links {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 80%;
}

.children-links a:link,
.children-links a:visited {
    text-decoration: none;
}

.children-links li {
    margin-right: 20px;
}

.children-links .parent-link {
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #DDD;
    font-size: 120%;
    font-weight: bold;
}

.children-links .parent-link a:link,
.children-links .parent-link a:visited {
    color: #333;
}

.children-links .current_page_item a:link,
.children-links .current_page_item a:visited {
    border-bottom: 1px solid #DDD;
    color: #333;
    cursor: default;
}

/* post styles */
.post h2 {
    margin-bottom: 0;
}

p.post-info {
    font-size: 87%;
    color: #999;
}

p.post-info a:link,
p.post-info a:visited {
    color: #999;
}

/* image styles */
img {
    max-width: 100%;
    height: auto;
}

.has-thumbnail {
    position: relative;
    padding-left: 200px;
}

.post-thumbnail {
    position: absolute;
    top: 0;
    left: 0;
}

/* search section */
div.hd-search {
    float: right;
    height: 25px;
}

label {
    position: absolute;
    left: -9999px;
}

#searchsubmit {
    background-color: #006ec3;
    color: #FFF;
    padding: 5px 14px;
    border: none;
    vertical-align: top;
}

div.hd-search #s{
    vertical-align: top;
    height: 100%;
}

/* footer callout */
div.footer-callout{
    background-color: #DDD;
    padding: 20px;
    margin: 30px 0 0 0;
    display: flex;
    flex-direction: row;
}

.footer-callout-image{
    flex-basis: 30%;
    margin-right: 10px;
}

.footer-callout-text{
    flex-basis: 70%;
}

.footer-callout-text h2{
    font-size: 1.7rem;
    margin: 0 0 .35rem 0;
}

.footer-callout-text p{
    font-size: 1.1rem;
}

/* about author */
.about-author{
    background-color: #EDEDED;
    padding: 20px;
    display:flex;
    flex-direction: row;
}

.about-author-text{
    flex-basis: 70%;
    padding-left: 20px;
}
.about-author-image{
    flex-basis: 30%;
    position: relative;
}

.about-author-image img{
    display: block;
}

.about-author-image p{
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0,0,0, .5);
    padding: 3px 0;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0, .85);
    color: #EEE;
}